header.header-predigten {
    position: relative;
    width: 100%;
    min-height: 50%;
    text-align: center;
    color: #fff;
    background-image: url(../img/predigten.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.predigt-list {
    margin-bottom: 2em;
}

.predigt-list-item {
    margin-top: 2em;
}

.predigt-item-details {
    align-self: center;
}