{{ $seriesInfoUrl := printf "/predigtreihen/%s" (.Params.predigtreihe | urlize) }}
{{ $seriesInfo := ($.Site.GetPage $seriesInfoUrl).Params }}
{{ $seriesPageUrl := printf "/predigtreihe/%s" (.Params.predigtreihe | urlize) }}
<div class="row predigt-list-item">
    <div class="col-sm-1"></div>
    <div class="col-md-auto text-center">
        <a href="{{ $seriesPageUrl }}">
            <img src="{{ $seriesInfo.image }}" alt="{{ .Params.predigtreihe }}" />
        </a>
    </div>
    <div class="col-md predigt-item-details text-truncate">
        <div class="card">
            <div class="card-body text-truncate">
                <h5 class="card-title">{{ .LinkTitle }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ .Date.Format "02.01.2006" }} von {{ .Params.speaker }}</h6>
                <p class="card-text">
                    {{ .Params.passage }} <a href="{{ .Params.audio }}">zuhören</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>