{{ $seriesInfoUrl := printf "/predigtreihen/%s" (.Params.predigtreihe | urlize) }}
{{ $seriesInfo := ($.Site.GetPage $seriesInfoUrl).Params }}
{{ $seriesPageUrl := printf "/predigtreihe/%s" (.Params.predigtreihe | urlize) }}
<div class="row predigt-list-item">

    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm">
                        <a href="{{ $seriesPageUrl }}" class="series-link">
                            <img src="{{ $seriesInfo.image }}" alt="{{ .Params.predigtreihe }}" class="series-img" />
                        </a>
                    </div>
                    <div class="col-sm">
                        <h5 class="card-title">{{ .LinkTitle }}</h5>
                        <h6 class="card-subtitle mb-2">{{ .Params.passage }}</h6>
                        <p class="card-text text-muted">
                            {{ .Date.Format "02.01.2006" }} von {{ .Params.speaker }}
                             <br>
                            <a href="{{ .Params.audio }}">Runterladen / zuhören</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>