{{ define "main" }}

<header class="header-predigten">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{ .Title }}</h1>
        </div>
    </div>
</header>

{{ $seriesInfo := .GetPage (printf "/predigtseries/%s" .Params.predigtserie) }}
<div>
    <a href="/predigtseries/{{ .Params.predigtserie }}/">
        <img src="{{ $seriesInfo.Params.image }}" alt="{{ $seriesInfo.Params.title }}" />
    </a>
    {{ .Params.title }} by {{ .Params.speaker }}
    <a href="{{ .Params.audio }}">Listen</a>
</div>

{{ end }}
